@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,body {
    display: grid;
    max-height: 10%;
    width: 100%;
    place-items: center;
    background: #fff;
}

.logo-container {
    width: 100%;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    text-align: center;
    padding: 30px 0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.logo-container img {
    max-width: 200px;
}

#logo{
    width:170px;
    height:60px;
}

.wrapper {
    width: 450px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    margin-top: 75px;
}

.wrapper .title {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    line-height: 90px;
    color: #fff;
    user-select: none;
    border-radius: 15px 15px 0 0;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    padding: 15px;
}

.wrapper form {
    padding: 30px;
}

.wrapper form .field {
    height: 60px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.wrapper form .field input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 15px;
    padding-left: 20px;
    border: 1px solid lightgrey;
    border-radius: 25px;
    transition: all 0.3s ease;
}

.wrapper form .field input:focus,
form .field input:valid {
    border-color: #4158d0;
}

.wrapper form .field label {
    position: absolute;
    top: 50%;
    left: 20px;
    color: #999999;
    font-weight: 400;
    font-size: 15px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

form .field input:focus ~ label,
form .field input:valid ~ label {
    top: 0%;
    font-size: 16px;
    color: #4158d0;
    background: #fff;
    transform: translateY(-50%);
}

form .field input[type="submit"] {
    color: #fff;
    border: none;
    padding-left: 0;
    margin-top: -10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    transition: all 0.3s ease;
}

form .field input[type="submit"]:active {
    transform: scale(0.95);
}

form .signup-link {
    color: #262626;
    margin-top: 20px;
    text-align: center;
}

form .signup-link a {
    color: #4158d0;
    text-decoration: none;
}

form .signup-link a:hover {
    text-decoration: underline;
}


.wrapper form .field input[type="submit"]:hover {
    background: linear-gradient(-135deg, #d462cc, #4f6cd1);
}


.error-message {
    position: relative;
    color: red;
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}





